.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1{
  margin:none;
}

body{
  height: 100%;
  overflow: hidden;
}

*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.top-layer{
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gridView-container{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridView{
  background-color: rgb(92, 92, 92);
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: scale(1);
  display: flex;
  perspective: 500px;
  justify-content: center;
  align-items: center;
}

.header{
  height: 100px;
  padding: 1rem;
}

.top-layer-top{
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-container{
  color:#282c34;
  font-family: 'Exo';
  font-size: calc(100vw / 80);
  text-shadow: 2px 2px 2px black;
  width: 50%;
  display: flex;
  justify-content: center;
}

.gestion-base{
  width: 50%;
  display: flex;
  justify-content: center;
}
.gestion-base-inner-button{
  box-shadow: inset 0 0 5px black;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.start-button{
  background-color: #04AA6D;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.start-button:hover{
  background-color:#282c34;
  cursor: pointer;
  color: antiquewhite;
}

.time-container{
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: bold;
  overflow: hidden;
}

.options-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.options-title{
  background-color: antiquewhite;
  padding: 1rem;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  border-radius: 8px;
}

.options-title:hover{
  background-color: #282c34;
  color: antiquewhite;
  cursor: pointer;
}
.options-choices{
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  border-radius: 8px;
}

.options-item{
margin: 0.5rem;
display: flex;
align-items: center;
}

.matrice{
  height: 500px;
  width: 500px;
  position: absolute;
  display: flex;
}

.tbody{
  background-color: #FFFFFF;
  display: flex;
}

td{
  min-width:1px;
  min-height:1px;
  height: 100%;
  width: 100%;
  padding: 0;
}

td:hover{
  background-color: red !important;
}
tr{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90%;
}

.matrice-body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-text{
  color: #282c34;
}

.change-cell-button{
  background-color:antiquewhite;
  color: #282c34;
  padding: 1rem;
  border-width: 0.2rem;
  border-color: #04AA6D;
  border-style: dashed;
}

.change-cell-button:hover{
  background-color:#282c34;
  color: antiquewhite;
  cursor: pointer;
}

.init{
  background-color: #770303;
}